:root {
    --primary-color: #4D5AE5;
    --dark-color: #2E2F42;
    --light-color: #F4F4FD;
    --main-color: #434455;
    --hover-color: #404BBF;
    --border-color: #E7E9FC;
    --grey-color: #8E8F99;
    --grey-color-1: #afb1b8;
    --modal-color: #FCFCFC;
    --items: 1;

    --transition-property: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-color);
    background-color: #ffffff;
}

h1,
h2,
h3,
h4,
p,
ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.container {
    /*  Phone styles*/
    min-width: 328px;
    max-width: 428px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

/* Tablet styles */
@media screen and (min-width: 768px) and (max-width:1157px) {
    .container {
        max-width: 768px;
    }
}

/* Desktop styles */

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;

    }
}

/* Header */

.header {
    border-bottom: 1px solid var(--border-color);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.flex-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0px 15px; */
}

/* Navbar */


.logo {
    margin-right: 76px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-color);
}

.logo-blue {
    color: var(--dark-color);

}

.logo-white {
    color: var(--light-color);
}

.nav-menu {
    display: flex;
    align-items: center;
    margin-right: auto;
}

@media screen and (max-width:767px) {
    .nav-list {
        display: none;
    }

    .address {
        display: none;
    }
}

@media screen and (min-width:768px) {
    .nav-list {
        display: flex;
        gap: 40px;
    }

    .address {
        display: block;
        font-style: normal;
    }

}


@media screen and (min-width:768px) and (max-width:1157px) {
    .logo {
        margin-right: 120px;
    }

    .address {
        font-size: 12px;
    }
}




.address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.address-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17px;
    letter-spacing: 0.04em;
    color: var(--main-color);

}

@media only screen and (min-width:1158px) {
    .address-list {
        flex-direction: row;
        gap: 40px;
    }

    .address-link {

        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--main-color);
        transition: color var(--transition-property);
    }
}

.address-link:hover,
.address-link:focus {
    color: var(--hover-color);
}


.nav-bar-link {
    position: relative;
    display: inline-block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    transition: color var(--transition-property);
}

.nav-bar-link.active {
    color: var(--hover-color);
}

.nav-bar-link::after {
    position: absolute;
    bottom: -1px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
}

.nav-bar-link.active:after {
    background-color: var(--hover-color);
}

.nav-bar-link:hover,
.nav-bar-link:focus {
    color: var(--hover-color)
}


.section {
    padding-top: 96px;
    padding-bottom: 96px;
}

@media screen and (min-width:1156px) {
    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}


/* Hero section */


.hero {
    background-color: var(--dark-color);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* max-width: 1440px; */
    text-align: center;
    padding-top: 112px;
    padding-bottom: 112px;
    margin-left: auto;
    margin-right: auto;
}

/* 320 < Screen < 428 */
@media screen and (max-width:428px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/background/Dark-bg-mob.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/background/Dark-bg-mob@2x.jpg);
        }

    }
}

/* 429 < Screen < 768 */
@media screen and (min-width:429px) and (max-width:767px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/background/Dark-bg-tab.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/background/Dark-bg-tab@2x.jpg);
        }

    }
}

@media screen and (min-width:768px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/background/Dark-bg-desk.jpg);
        max-width: 1440px;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/background/Dark-bg-desk@2x.jpg);
        }

    }
}

.hero-title {
    max-width: 320px;
    margin: 0 auto 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #ffffff;
}

/* Tablet style and > */
@media screen and (min-width:768px) {
    .hero-title {
        max-width: 496px;
        margin: 0 auto 48px;
        font-size: 56px;
        line-height: 1.07;
    }
}

/* Desktop style */
@media screen and (min-width:1158px) {
    .hero {
        padding-top: 188px;
        padding-bottom: 188px;

    }
}


.hero-button {
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--primary-color);
    color: #ffffff;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color var(--transition-property);
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;

}

/* Features section */

.features-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-bottom: 8px;
    background-color: var(--light-color);
    border-radius: 4px;

}

@media screen and (max-width:1157px) {
    .features-icon {
        display: none;
    }
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
}

.features-item {
    width: 100%;
}


.features-title {
    margin-bottom: 8px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}

.features-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-color);
}


@media screen and (min-width:768px) {
    .features-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    .features-title {
        text-align: left;
    }
}

@media screen and (min-width:768px) and (max-width:1157px) {
    .features-item {
        width: calc((100% - 24px) / 2);
    }


}

@media screen and (min-width:1158px) {

    .features-item {
        width: calc((100% - 72px) / 4);
    }

    .features-title {
        margin-bottom: 8px;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .features-text {
        font-weight: 400;
    }


}


/* Our work */

@media screen and (max-width:1157px) {
    .work-section {
        display: none;
    }
}

.work-section {
    padding-top: 0;
}

.works-list {
    display: flex;
    gap: 24px;
}

.work-title {
    margin-bottom: 72px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    text-transform: capitalize;
}

/* Our team section */



.team-section {
    background-color: var(--light-color);

}

.team-title {
    margin-bottom: 72px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    text-transform: capitalize;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
}

@media screen and (max-width:767px) {
    .team-list {
        max-width: 264px;
        margin: auto;
    }

    .team-item {
        width: calc((100%));
    }
}

@media screen and (min-width:768px) and (max-width:1157px) {
    .team-list {
        width: 552px;
        margin: auto;
        justify-content: center;
    }

}

@media screen and (min-width:1158px) {
    .team-item {
        width: calc((100% - 72px) / 4);
    }
}

.team-item {
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    background-color: #ffffff;
}

.team-content {
    padding: 32px 0px;
    text-align: center;
}


.member-name {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}

.member-position {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-color);
}

.member-icon-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.member-icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary-color);
    transition: background-color var(--transition-property);
}

.member-icon-element {
    fill: var(--light-color);
}

.member-icon-link:hover,
.member-icon-link:focus {
    background-color: var(--hover-color);
}

.portfolio-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}


/* Customers section */

.customers-title {
    margin-bottom: 72px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    text-transform: capitalize;
}

.customers-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 88px;
    border: solid 1px var(--grey-color);
    border-radius: 4px;
    color: var(--grey-color);
    transition: color var(--transition-property),
        border-color var(--transition-property);
}



.customers-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 72px;
    margin: auto;
    justify-content: center;
}

.customers-list-element {
    max-width: calc((100%-16px)/2);
}



@media screen and (min-width:768px) {
    .customers-link {
        width: 168px;
    }

    .customers-list {
        column-gap: 24px;
    }

    .customers-list-element {
        max-width: calc((100%-48px)/3);
    }
}

@media screen and (min-width:1158px) {
    .customers-list-element {
        max-width: calc((100%-72px)/4);
    }
}



.customers-icon {
    fill: currentColor;
}

.customers-link:hover,
.customers-link:focus {
    border-color: var(--hover-color);
    color: var(--hover-color);
}



/* Footer */


.footer {
    padding: 96px 0px;
    /* padding: 100px 0px; */
    background-color: var(--dark-color);
    color: var(--light-color);
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    align-items: center;
    column-gap: 24px;
    row-gap: 72px;
    margin: auto;
}


@media screen and (max-width:767px) {
    .footer-container {
        flex-direction: column;
    }
}

@media screen and (min-width:768px) {
    .footer-container {
        align-items: baseline;
    }
}

@media screen and (min-width:768px) and (max-width:1157px) {
    .footer-container {
        max-width: 582px;
    }
}

@media screen and (min-width:1157px) {
    .footer-container {
        gap: 0;

    }

    .footer-logo-content {
        margin-right: 120px;
    }

    .links-container {
        margin-right: 80px;
    }
}



@media screen and (max-width:767px) {
    .footer-logo-content {
        text-align: center;
    }

}


.footer .logo {
    display: inline-block;
    margin-bottom: 16px;
    margin-right: auto;
    margin-left: auto;
}

.footer-text {
    text-align: left;
    max-width: 264px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light-color);
}

.links-container {
    width: 208px;
    height: 80px;
}

@media screen and (max-width:767px) {
    .links-container {
        margin: auto;
        text-align: center;
    }
}

.footer-title {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;

}

.footer-list {
    display: flex;
    gap: 16px;
}

.footer-socmedia-link {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    transition: background-color var(--transition-property);

}

.footer-socmedia-link:hover,
.footer-socmedia-link:focus {
    background-color: #31D0AA;
}

.footer-icon {
    fill: var(--light-color);
}


.footer-title-subscribe {
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;

}



.subscribe-form {
    display: flex;
    margin: auto;
    text-align: center;
    gap: 16px;
}

@media screen and (min-width:768px) {
    .subscribe-form {
        gap: 24px;
    }
}

@media screen and (max-width:767px) {
    .subscribe-container {
        width: 100%;
    }




    .footer-title-subscribe {
        text-align: center;
    }

    .subscribe-form {
        flex-direction: column;
    }
}

.subscribe-input {

    width: 100%;
    height: 40px;
    padding: 8px 16px;
    background: transparent;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
}

@media screen and (min-width:768px) {
    .subscribe-input {
        width: 264px;
    }
}

.subscribe-input::placeholder {

    color: #ffffff;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
}

.subscribe-input:focus {
    outline: none;
}

.subscribe-btn {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 165px;
    height: 40px;
    padding: 8px 24px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: var(--primary-color);
    border: none;
    border-radius: 4px;
    transition: background-color var(--transition-property);
}

.subscribe-btn:focus,
.subscribe-btn:hover {
    background-color: var(--hover-color);
}



/* Portfolio page */

.portfolio-section {
    padding-top: 48px;
    padding-bottom: 48px;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .portfolio-section {
        padding-top: 64px;
        padding-bottom: 96px;
    }
}

@media screen and (min-width: 1157px) {

    .portfolio-section {
        padding-top: 96px;
        padding-bottom: 120px;
    }
}

.btn-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 24px;
    margin-bottom: 48px;
}

@media screen and (min-width: 768px) {
    .btn-list {
        justify-content: center;
        margin-bottom: 64px;
    }
}

@media screen and (min-width: 1158px) {
    .btn-list {
        margin-bottom: 72px;
    }
}

.btn-filter {
    padding: 12px 24px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--light-color);
    color: var(--primary-color);
    cursor: pointer;
    transition: background-color var(--transition-property),
        color var(--transition-property),
        border var(--transition-property),
        box-shadow var(--transition-property);
}

.btn-filter:hover,
.btn-filter:focus {
    background-color: var(--hover-color);
    color: #ffffff;
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .portfolio-item {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {

    .portfolio-item {
        width: calc((100% - 48px) / 3);
    }
}

.portfolio-item-link {
    display: block;
    transition: box-shadow var(--transition-property);

}

.portfolio-img-wrapper {
    position: relative;
    overflow: hidden;
}

@media screen and (max-width:1157px) {
    .overlay {
        display: none;
    }

}

@media screen and (min-width:1157px) {

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        padding: 40px 32px;
        line-height: 1.5;
        color: var(--light-color);
        background-color: var(--primary-color);
        transform: translate(0, 100%);
        transition: transform var(--transition-property);
    }
}

.portfolio-item-link:hover,
.portfolio-item-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item-link:hover .overlay,
.portfolio-item-link:focus .overlay {
    transform: translate(0, 0);
}

.portfolio-content {
    padding: 32px 16px;
    border: 1px solid var(--border-color);
    border-top: none;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-color);
}

/* Modal window */

.backdrop {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity var(--transition-property), visibility var(--transition-property);
}

.backdrop.is-hidden {
    opacity: 0.5;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 392px;
    padding: 72px 16px 24px 16px;

    background-color: var(--modal-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    opacity: 1;
    transform: scale(1) translate(-50%, -50%);
    transition: transform var(--transition-property), opacity var(--transition-property);

}

@media screen and (min-width:768px) {
    .modal {
        width: 408px;
        padding: 72px 24px 24px;
    }

}


.modal-close-btn {
    position: absolute;
    top: 32px;
    right: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--border-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color var(--transition-property), border var(--transition-property);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: var(--hover-color);
    border: none;

}

.modal-close-icon-btn {
    fill: var(--dark-color);
    transition: fill var(--transition-property);

}

.modal-close-btn:hover .modal-close-icon-btn,
.modal-close-btn:focus .modal-close-icon-btn {
    fill: #ffffff
}

.modal-title {
    display: block;
    margin-bottom: 16px;
    text-align: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-color);

}

.modal-form-label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: var(--grey-color);
}

.modal-form-input {
    width: 100%;
    height: 40px;
    padding: 0 38px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: 1px solid transparent;
    outline-offset: -1px;
    transition: outline-color var(--transition-property);
}

.modal-form-input:focus+.modal-form-icon {
    fill: var(--primary-color);
    transition: fill var(--transition-property);
}

.modal-form-input:focus {
    outline-color: var(--primary-color);

}

.modal-form-field {
    position: relative;
    margin-bottom: 8px;
}

.modal-form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: var(--dark-color);
    pointer-events: none;

}

.modal-form-message {
    display: block;
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    margin-bottom: 16px;
    resize: none;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: 1px solid transparent;
    outline-offset: -1px;
    transition: outline-color var(--transition-property);
}

.modal-form-message:focus {
    outline-color: var(--primary-color);
}

.modal-form-message::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.modal-form-agreement {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;

}

.modal-form-agreement-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--grey-color);

}

.modal-form-checkbox {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    background-image: url(../images/icon.svg/#icon-facebook);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0;
    transition: background-color var(--transition-property), border var(--transition-property);


}

.modal-form-checkbox:checked {
    background-color: var(--hover-color);
    background-size: 10px;
    border: none;

}

.modal-form-link {
    color: var(--primary-color);
}

.modal-form-wrapbox {
    position: relative;
    width: 16px;
    height: 16px;
}

.modal-form-box {
    opacity: 0;
    transition: opacity var(--transition-property);
}

.modal-form-vector {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}

.modal-form-checkbox:checked+.modal-form-box {
    opacity: 1;
}

/* Mobile menu styles */

.menu-toggle {
    height: 22px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 24px 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;

}

.modal-close-icon-btn {
    fill: var(--dark-color);


}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-toggle:hover,
.menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 80px 35px 40px 40px;
    background-color: #ffffff;
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color var(--transition-property), border var(--transition-property);
}

.mobile-menu {
    padding: 0;
    margin: 0;
    margin-bottom: auto;
    list-style: none;
}

.mobile-menu .link {
    display: block;
    padding: 10px;
    color: var(--dark-color);
    text-decoration: none;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

.mobile-menu-link.active {
    color: var(--hover-color);
}

.mobile-address {
    margin-bottom: 48px;
}


.mobile-tel-element {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 40px;
}

.mobile-tel-link {
    color: var(--primary-color);
}

.mobile-mail-element {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

}

.mobile-mail-link {
    color: #434455;
}

.menu-hamburger-element {
    stroke:
        #2E2F42;
}

.mobile-soclist {
    display: flex;
    gap: 56px;
}

.mobile-socmedia-link {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    transition: background-color var(--transition-property);
}

.mobile-icon {
    fill: var(--light-color);
}